body {
  background-image: url("green-background.webp");
  color: blue;
  background-color:black;
  font-family:chiller;
  font-size:40px;
  text-align:center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img{
	width:600px;
	border-radius: 8px;
}
img {
	width:200px;
	border-radius: 8px;
}

.shahor{
	background-color:black;
	color:gold;
}
